<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.appearance}}</h2>
    <textarea class="actor-appearance" name="data.appearance">{{data.appearance}}</textarea>
</div>
<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.personality}}</h2>
    <textarea class="actor-personality" name="data.personality">{{data.personality}}</textarea>
</div>
<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.pactReason}}</h2>
    <textarea class="actor-pactReason" name="data.pactReason">{{data.pactReason}}</textarea>
</div>
<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.wish}}</h2>
    <textarea class="actor-wish" name="data.wish">{{data.wish}}</textarea>
</div>
<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.costume}}</h2>
    <textarea class="actor-costume" name="data.costume">{{data.costume}}</textarea>
</div>
<div class="panelBorder sheet-card">
    <h2>{{localize config.descriptors.crisis}}</h2>
    <textarea class="actor-crisis" name="data.crisis">{{data.crisis}}</textarea>
</div>