<section class="stat-block">
    <label class="stat-name">
        <h3>
            {{localize config.stats.resolve}}
            <div class="stat-value">
                <input name="data.resolve.value" type="text" value="{{data.resolve.value}}" data-dtype="Number"/>
            </div>
        </h3>
    </label>
    <label class="stat-name">
        {{localize config.descriptors.element}}
    </label>
    <div class="stat-value">
        <input name="data.element" type="text" value="{{data.element}}" />
    </div>
    <label class="stat-name">
        {{localize config.descriptors.weapon}}
    </label>
    <div class="stat-value">
        <input name="data.weapon" type="text" value="{{data.weapon}}" />
    </div>
    <label class="stat-name">
        {{localize config.descriptors.magicPower}}
    </label>
    <div class="stat-value">
        <input name="data.magicPower" type="text" value="{{data.magicPower}}" />
    </div>
    <label class="stat-name">{{localize config.descriptors.specialization}}</label>
    <div class="stat-value">
        <input name="data.specialization" type="text" value="{{data.specialization}}" />
    </div>
    <label class="stat-name">
        {{localize config.stats.charm}}
    </label>
    <div class="stat-value">
        <input name="data.charm.value" type="text" value="{{data.charm.value}}" data-dtype="Number"/>
    </div>
    <label class="stat-name">
        {{localize config.stats.insight}}
    </label>
    <div class="stat-value">
        <input name="data.insight.value" type="text" value="{{data.insight.value}}" data-dtype="Number"/>
    </div>
    <label class="stat-name">
        {{localize config.stats.tenacity}}
    </label>
    <div class="stat-value">
        <input name="data.tenacity.value" type="text" value="{{data.tenacity.value}}" data-dtype="Number"/>
    </div>

</section>