<table>
    <tr>
        <th>Attribute</th>
        <th>Combat Stat</th>
        <th>Rank</th>
        <th>Overcharge</th>
    </tr>
    <tr>
        <td class = "attack-row-name">Attack</td>
        <td class = "attack-row-value">
            <select name="data.attackType" class = "row-value">
                {{#select data.attackType}}
                    {{#each config.combatTypes as |name type|}}
                        <option  class = "row-value" value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
        <td class = "attack-row-value">
            <input name="data.attack" type="text" value="{{data.attack}}" data-dtype="Number"/>
        </td>
        <td class = "attack-row-value">
            <section class="attack-overcharge-points">
            <div class="attack-overcharge">
                <div class="overcharge-markers" style="--row-length: {{data.attackOvercharge.max}}">
                    {{#times data.attackOvercharge.max}}
                        <div class="overcharge-point" name = "attack" data-name = "attack" data-index="{{@index}}">
                            <div class="attack-overcharge-box {{#if (gte ../data.attackOvercharge.value @index)}}crossed{{/if}}">
                                <div>{{@index}}</div>
                            </div>
                        </div>
                    {{/times}}
                </div>
            </div>
            </section>
        </td>
    </tr>
    <tr>
        <td class = "defense-row-name">Defense</td>
        <td class = "defense-row-value">
            <select name="data.defenseType">
                {{#select data.defenseType}}
                    {{#each config.combatTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
        <td class = "defense-row-value">
            <input name="data.defense" type="text" value="{{data.defense}}" data-dtype="Number"/>
        </td>
        <td class = "defense-row-value">
            <section class="defense-overcharge-points">
            <div class="defense-overcharge">
                <div class="overcharge-markers" style="--row-length: {{data.defenseOvercharge.max}}">
                    {{#times data.defenseOvercharge.max}}
                        <div class="overcharge-point" name ="defense" data-name = "defense" data-index="{{@index}}">
                            <div class="defense-overcharge-box {{#if (gte ../data.defenseOvercharge.value @index)}}crossed{{/if}}">
                                <div>{{@index}}</div>
                            </div>
                        </div>
                    {{/times}}
                </div>
            </div>
            </section>
        </td>
    </tr>
    <tr>
        <td class = "support-row-name">Support</td>
        <td class = "support-row-value">
            <select name="data.supportType">
                {{#select data.supportType}}
                    {{#each config.combatTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
        <td class = "support-row-value">
            <input name="data.support" type="text" value="{{data.support}}" data-dtype="Number"/>
        </td>
        <td class = "support-row-value">
            <section class="support-overcharge-points">
            <div class="support-overcharge">
                <div class="overcharge-markers" style="--row-length: {{data.supportOvercharge.max}}">
                    {{#times data.supportOvercharge.max}}
                    <div class="overcharge-point" name="support"  data-name="support" data-index="{{@index}}">
                        <div class="support-overcharge-box {{#if (gte ../data.supportOvercharge.value @index)}}crossed{{/if}}">
                            <div>{{@index}}</div>
                        </div>
                    </div>
                    {{/times}}
                </div>
                </div>
                </section>
        </td>
    </tr>
</table>