<div class="item talent-border sheet-card {{data.type}}" data-type="{{data.overchargeType}}" data-item-id="{{_id}}">
    <div class="talent-card">
        <div class="talent-name">{{name}}</div>
        <section class="talent-costs">
        <div class="talent-action">{{{data.actionType}}} action</div>
        <div class="talent-limit">{{{data.limit}}}/{{{data.limitPer}}}</div>
        <div class="talent-overcharge">{{{data.overcharge}}} overcharge ({{{data.overchargeType}}})</div>
        </section>
        <div class="talent-description">{{{data.description}}}</div>
    </div>
</div>